# Standard files to exclude from Mendix projects:
.svn/*
.mendix-cache/*
deployment/*.*
/deployment/*.*
*.lock

# others:
proxies
fc

# No idea why but neither deployment/*.* nore /deployment/*.* prevent below files to get ignored
/deployment/web/*
/deployment/data/database/hsqldb/default/default.script
/deployment/log/build_core_compile package_log.txt
/deployment/log/m2ee_log.txt
/deployment/model/bundles/project.jar
/deployment/model/i18n/translations.properties
/deployment/model/i18n/translations_en_US.properties
/deployment/run/bin/forumquestions/actions/endTransaction.class
/deployment/run/bin/forumquestions/actions/rollbackTransaction.class
/deployment/run/bin/forumquestions/actions/startTransaction.class
/deployment/run/bin/system/UserActionsRegistrar.class
/deployment/run/bin/system/actions/VerifyPassword.class
/deployment/web/components.json
/deployment/web/index-phone-preview.html
/deployment/web/index-rtl.html
/deployment/web/index-tablet-preview.html
/deployment/web/login-with-sso.html
/deployment/web/metamodel.json
/deployment/web/pages/en_US/Administration/ScheduledEvents.page.xml
/deployment/web/pages/en_US/Atlas_UI_Resources/Atlas_Default.layout.xml
/deployment/web/pages/en_US/Atlas_UI_Resources/Atlas_TopBar.layout.xml
/deployment/web/pages/en_US/Atlas_UI_Resources/Tablet_Default.layout.xml
/deployment/web/pages/en_US/ForumQuestions/Address_NewEdit.page.xml
/deployment/web/pages/en_US/ForumQuestions/Address_Overview.page.xml
/deployment/web/pages/en_US/ForumQuestions/Bulletinboard_NewEdit.page.xml
/deployment/web/pages/en_US/ForumQuestions/Bulletinboard_Overview.page.xml
/deployment/web/pages/en_US/ForumQuestions/Document_NewEdit.page.xml
/deployment/web/pages/en_US/ForumQuestions/Document_Overview.page.xml
/deployment/web/pages/en_US/ForumQuestions/Home94209.page.xml
/deployment/web/pages/en_US/ForumQuestions/Member_NewEdit.page.xml
/deployment/web/pages/en_US/ForumQuestions/Member_Overview.page.xml
/deployment/web/pages/en_US/ForumQuestions/Organization_MasterDetail.page.xml
/deployment/web/pages/en_US/ForumQuestions/Organization_NewEdit.page.xml
/deployment/web/pages/en_US/ForumQuestions/Organization_Overview.page.xml
/deployment/web/pages/en_US/ForumQuestions/Organization_Select.page.xml
/deployment/web/pages/en_US/ForumQuestions/Page.page.xml
/deployment/web/pages/en_US/ForumQuestions/Project_NewEdit.page.xml
/deployment/web/pages/en_US/ForumQuestions/Project_Overview.page.xml
/deployment/web/pages/en_US/ForumQuestions/Questions_Overview.page.xml
/deployment/web/pages/en_US/ForumQuestions/Tire_NewEdit.page.xml
/deployment/web/pages/en_US/ForumQuestions/Tire_Overview.page.xml
/deployment/web/pages/en_US/ForumQuestions/Truck_NewEdit.page.xml
/deployment/web/pages/en_US/ForumQuestions/Truck_Overview.page.xml
/deployment/web/pages/en_US/ForumQuestions/WorkoutMaster_NewEdit.page.xml
/deployment/web/pages/en_US/ForumQuestions/WorkoutMaster_Overview.page.xml
/deployment/web/pages/en_US/ForumQuestions/WorkoutTracker_NewEdit.page.xml
/deployment/web/pages/en_US/ForumQuestions/WorkoutTracker_Overview.page.xml
/deployment/web/pages/en_US/FunctionFiddler/isMatch_Overview.page.xml
/deployment/web/pages/en_US/MyDemos/Home.page.xml
/deployment/web/pages/en_US/MyDemos/ReactWidget.page.xml
/deployment/web/pages/en_US/MyDemos/SpeechFunctions.page.xml
/deployment/web/widgets/widgets.css
/deployment/web/widgets/widgets.js
/deployment/model/model.mdp
/deployment/data/database/20190521_140837_database_commands.sql
/deployment/data/database/hsqldb/default/default.script
/deployment/log/build_core_compile package_log.txt
/deployment/log/m2ee_log.txt
/deployment/model/bundles/project.jar
/deployment/model/config.json
/deployment/model/i18n/translations.properties
/deployment/model/i18n/translations_en_US.properties
/deployment/run/bin/forumquestions/actions/endTransaction.class
/deployment/run/bin/forumquestions/actions/rollbackTransaction.class
/deployment/run/bin/forumquestions/actions/startTransaction.class
/deployment/run/bin/system/UserActionsRegistrar.class
/deployment/run/bin/system/actions/VerifyPassword.class
/deployment/web/components.json
/deployment/web/index-phone-preview.html
/deployment/web/index-rtl.html
/deployment/web/index-tablet-preview.html
/deployment/web/login-with-sso.html
/deployment/web/metamodel.json
/deployment/web/pages/en_US/Administration/Account_Edit.page.xml
/deployment/web/pages/en_US/Administration/Account_New.page.xml
/deployment/web/pages/en_US/Administration/Account_Overview.page.xml
/deployment/web/pages/en_US/Administration/ActiveSessions.page.xml
/deployment/web/pages/en_US/Administration/ChangeMyPasswordForm.page.xml
/deployment/web/pages/en_US/Administration/ChangePasswordForm.page.xml
/deployment/web/pages/en_US/Administration/MyAccount.page.xml
/deployment/web/pages/en_US/Administration/RuntimeInstances.page.xml
/deployment/web/pages/en_US/Administration/ScheduledEvents.page.xml
/deployment/web/pages/en_US/Administration/UserRole_Select.page.xml
/deployment/web/pages/en_US/Atlas_UI_Resources/Atlas_Default.layout.xml
/deployment/web/pages/en_US/Atlas_UI_Resources/Atlas_TopBar.layout.xml
/deployment/web/pages/en_US/Atlas_UI_Resources/Phone_Default.layout.xml
/deployment/web/pages/en_US/Atlas_UI_Resources/Phone_Sidebar.layout.xml
/deployment/web/pages/en_US/Atlas_UI_Resources/Tablet_Default.layout.xml
/deployment/web/pages/en_US/ForumQuestions/Address_NewEdit.page.xml
/deployment/web/pages/en_US/ForumQuestions/Address_Overview.page.xml
/deployment/web/pages/en_US/ForumQuestions/Bulletinboard_NewEdit.page.xml
/deployment/web/pages/en_US/ForumQuestions/Bulletinboard_Overview.page.xml
/deployment/web/pages/en_US/ForumQuestions/Document_NewEdit.page.xml
/deployment/web/pages/en_US/ForumQuestions/Document_Overview.page.xml
/deployment/web/pages/en_US/ForumQuestions/Home94209.page.xml
/deployment/web/pages/en_US/ForumQuestions/Member_NewEdit.page.xml
/deployment/web/pages/en_US/ForumQuestions/Member_Overview.page.xml
/deployment/web/pages/en_US/ForumQuestions/Organization_MasterDetail.page.xml
/deployment/web/pages/en_US/ForumQuestions/Organization_NewEdit.page.xml
/deployment/web/pages/en_US/ForumQuestions/Organization_Overview.page.xml
/deployment/web/pages/en_US/ForumQuestions/Organization_Select.page.xml
/deployment/web/pages/en_US/ForumQuestions/Page.page.xml
/deployment/web/pages/en_US/ForumQuestions/Project_NewEdit.page.xml
/deployment/web/pages/en_US/ForumQuestions/Project_Overview.page.xml
/deployment/web/pages/en_US/ForumQuestions/Questions_Overview.page.xml
/deployment/web/pages/en_US/ForumQuestions/Tire_NewEdit.page.xml
/deployment/web/pages/en_US/ForumQuestions/Tire_Overview.page.xml
/deployment/web/pages/en_US/ForumQuestions/Truck_NewEdit.page.xml
/deployment/web/pages/en_US/ForumQuestions/Truck_Overview.page.xml
/deployment/web/pages/en_US/ForumQuestions/WorkoutMaster_NewEdit.page.xml
/deployment/web/pages/en_US/ForumQuestions/WorkoutMaster_Overview.page.xml
/deployment/web/pages/en_US/ForumQuestions/WorkoutTracker_NewEdit.page.xml
/deployment/web/pages/en_US/ForumQuestions/WorkoutTracker_Overview.page.xml
/deployment/web/pages/en_US/FunctionFiddler/FormatDateTime_Overview.page.xml
/deployment/web/pages/en_US/FunctionFiddler/FunctionFiddler_Overview.page.xml
/deployment/web/pages/en_US/FunctionFiddler/ParseDateTime_Overview.page.xml
/deployment/web/pages/en_US/FunctionFiddler/ParseInteger_Overview.page.xml
/deployment/web/pages/en_US/FunctionFiddler/Substring_Overview.page.xml
/deployment/web/pages/en_US/FunctionFiddler/isMatch_Overview.page.xml
/deployment/web/pages/en_US/MyDemos/FunctionFiddler.page.xml
/deployment/web/pages/en_US/MyDemos/Home.page.xml
/deployment/web/pages/en_US/MyDemos/ReactWidget.page.xml
/deployment/web/pages/en_US/MyDemos/SpeechFunctions.page.xml
/deployment/web/widgets/widgets.css
/deployment/web/widgets/widgets.js
